.gradle
.settings
.classpath
.project
build
bin
proxyServer/bin
proxyServer/rundir
desktopRuntime/_eagstorage*
desktopRuntime/eclipseProject/bin*
desktopRuntime/hs_err_*
desktopRuntime/crash-reports/*
desktopRuntime/options.txt
desktopRuntime/_eagstorage*
desktopRuntime/filesystem/*
desktopRuntime/downloads/*

#Dont commit builds because you want users to get them from github actions
javascript/classes.js
javascript/classes.js.map
javascript/assets.epk
javascript/Shadow_Client.html
